<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenshotSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ScreenshotSender.Properties.Settings>
            <setting name="CheckInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>from@example.com</value>
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value>to@example.com</value>
            </setting>
            <setting name="EmailFromPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailSmtpHost" serializeAs="String">
                <value>smtpHost</value>
            </setting>
            <setting name="EmailSmtpPort" serializeAs="String">
                <value>465</value>
            </setting>
            <setting name="EmailSmtpEnableSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailSmtpUserName" serializeAs="String">
                <value>from@example.com</value>
            </setting>
            <setting name="EmailFromAlias" serializeAs="String">
                <value>ScreenshotSender</value>
            </setting>
            <setting name="DisplaysSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="MachineKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedActions" serializeAs="String">
                <value />
            </setting>
            <setting name="AttachLastFileFromLocation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFileToAttachLocation" serializeAs="String">
                <value />
            </setting>
        </ScreenshotSender.Properties.Settings>
    </userSettings>
</configuration>